* {
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

:root {
    font-size: 16px;
    --main-color: #c60000;
    /* #e2622e */
    --secondary-color: #fff;
    --background-color: #eee;
    --form-border-color: #bbb;
    --font-color: #000;
    --form-background-color: #fafafa;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-color {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: var(--main-font);
    background-color: var(--background-color);
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: var(--main-color);
    margin: 50px 0 3% 0;
}

h3 {
    font-size: 25px;
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1em;
}

a {
    text-decoration: none;
}

button,
input,
textarea {
    font: inherit;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    color: var(--secondary-color);
    height: 50px;
    width: 100%;
    font-size: 25px;
    transition: background-color .5s;
}

nav .logo {
    height: 100%;
    width: 50px;
    background-color: var(--main-color);
}

nav ul {
    height: 100%;
    /* width: calc(100% - 70px); */
    display: flex;
    /* flex: 5; */
    flex-direction: row;
    list-style-type: none;
}

nav li {
    display: flex;
    height: 100%;
}

nav a {
    display: flex;
    color: var(--secondary-color);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    transition: background-color 0.5s, font-size 0.5s;
}

nav a:hover {
    background-color: rgba(55, 55, 55, 0.4);
    font-size: 30px;
}

nav .social {
    display: flex;
    margin-left: auto;
}

nav .social i {
    padding: 0 10px;
    /* font-family: 'FontAwesome'; */
}

header {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background-image: url("./images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-position-y: top;
    height: 100vh;
    width: 100%;
}

header h1 {
    position: relative;
    text-align: left;
    top: 15%;
    left: 10%;
    color: var(--secondary-color);
}

#about {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#about img {
    height: 100vh;
    width: auto;
}

#about .bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    height: auto;
    margin: 3% 0;
    padding: 2%;
    color: var(--font-color);
}

#about .bio h2 {
    margin: 0 0 5% 0;
}

#experience {
    background-image: url("./images/dumbbell-1966702_1920.jpg")
    /* Obraz <a href="https://pixabay.com/pl/users/Jonas_Fehre-4115935/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1966702"> Jonas Fehre</a> z <a href="https://pixabay.com/pl/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=1966702"> Pixabay</a> */;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
    padding: 0 2%;
    text-align: justify;
}

#experience h2 {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.8);
}

#experience p {
    text-shadow: 0 0 3px #000;
    max-width: 700px;
    /* padding: 2%; */
    /* box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.75); */
}

#experience .text-container {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 40px 40px rgba(0,0,0,0.8);
}

#experience a {
    height: auto;
    width: auto;
    padding: 15px 45px;
    margin: auto 0 5% 0;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 20px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    border: 2px solid var(--secondary-color);
    z-index: 1;
}

#experience a:hover {
    background-color: var(--font-color);
    color: var(--main-color);
    border-color: var(--main-color);
}









#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#contact .text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
}

#contact .contact-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

#contact form {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 0 3%;
}

#contact input,
#contact textarea {
    margin-bottom: 1em;
    background-color: var(--form-background-color);
    border: 2px solid var(--form-border-color);
    outline-color: var(--main-color);
    padding: 0.3em 0.5em;
}

#contact input {
    height: 10%;
}

#contact textarea {
    resize: none;
    height: 30%;
}

#contact button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 45px;
    margin: 0 0 5% auto;
    background-color: var(--main-color);
    color: var(--secondary-color);
    font-size: 20px;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

#contact button:hover {
    background-color: var(--form-background-color);
    color: var(--font-color);
    border-color: var(--form-border-color);
}

#contact .contact-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

#contact .contact-info p {
    margin-bottom: 1.5em;
}

#contact .contact-info i {
    color: var(--main-color);
}

#contact .contact-info p:nth-of-type(3) {
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 1em;
    font-size: 25px;
    background-color: var(--main-color);
    font-size: 15px;
    color: var(--secondary-color);
}

footer p {
    margin: 0;
}






@media (max-width: 1200px) {
    #contact {
        height: auto;
        text-align: center;
    }

    #contact .contact-container {
        flex-direction: column;
    }

    #contact form::after {
        content: "";
        height: 0;
        border-bottom: dotted 5px black;
        margin-bottom: 5%;
    }
}

@media (max-width: 855px) {

    header {
        align-items: flex-end;
        justify-content: flex-end;
    }

    header h1 {
        top: unset;
        left: unset;
        bottom: 10%;
        right: 10%;
        text-align: right;
        /* background-color: rgba(0, 0, 0, 0.6);
        box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.6); */
    }

    #about {
        height: auto;
    }

    #about img {
        display: none;
    }

    #about .bio{
        height: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}